{% extends "base.html" %}
{% block content %}
<!--begin::Content-->
<div id="kt_app_content mt-20" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-xl-row">
            <!--begin::Content-->
            <div class="flex-lg-row-fluid ms-lg-15 mt-15">
                <!--begin:::Tabs-->
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab"
                            href="#kt_ecommerce_customer_overview">Overview</a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab"
                            href="#kt_ecommerce_customer_general">General Settings</a>
                    </li>
                    <!--end:::Tab item-->
                </ul>
                <!--end:::Tabs-->
                <!--begin:::Tab content-->
                <div class="tab-content" id="myTabContent">
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                        <div class="row row-cols-1 row-cols-md-2 mb-6 mb-xl-9">
                            <div class="col">
                                <!--begin::Card-->
                                <div class="card pt-4 h-md-100 mb-6 mb-md-0">
                                    <!--begin::Card header-->
                                    <div class="card-header border-0">
                                        <!--begin::Card title-->
                                        <div class="card-title">
                                            <h2 class="fw-bold text-capitalize">Librarian: {{context.librarian.firstname}} {{context.librarian.lastname}}</h2>
                                        </div>
                                        <!--end::Card title-->
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0">
                                        <div class="fw-bold fs-2">
                                            <div class="d-flex">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen030.svg-->
                                                <span class="svg-icon svg-icon-info svg-icon-2x">
                                                    <?xml version="1.0" encoding="utf-8"?>
                                                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                                    <svg width="800px" height="800px" viewBox="0 0 1024 1024"
                                                        class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M202.4 32c-34.4 0-61.6 28-61.6 61.6v812.8c0 34.4 28 61.6 61.6 61.6h681.6V32H202.4z"
                                                            fill="#72B6D3" />
                                                        <path
                                                            d="M264 32h-61.6c-34.4 0-61.6 28-61.6 61.6v812.8c0 34.4 28 61.6 61.6 61.6H264V32z"
                                                            fill="#090C10" />
                                                        <path
                                                            d="M195.2 848h686.4v116.8H195.2c-28.8 0-52.8-26.4-52.8-58.4s23.2-58.4 52.8-58.4z"
                                                            fill="#FFFFFF" />
                                                        <path
                                                            d="M884 976.8H202.4c-38.4 0-69.6-31.2-69.6-69.6V93.6c0-38.4 31.2-69.6 69.6-69.6h681.6c4.8 0 8 3.2 8 8v936.8c0 4-4 8-8 8zM202.4 40c-29.6 0-53.6 24-53.6 53.6v812.8c0 29.6 24 53.6 53.6 53.6h673.6V40H202.4z"
                                                            fill="#6A576D" />
                                                        <path
                                                            d="M140 914.4c-4.8 0-8-3.2-8-8V93.6c0-38.4 31.2-69.6 69.6-69.6H264c4.8 0 8 3.2 8 8v812.8c0 4.8-3.2 8-8 8h-61.6c-29.6 0-53.6 24-53.6 53.6-0.8 4.8-4 8-8.8 8zM202.4 40c-29.6 0-53.6 24-53.6 53.6v768c12.8-15.2 32-25.6 53.6-25.6H256V40h-53.6z"
                                                            fill="#6A576D" />
                                                        <path d="M260.8 898.4h47.2V992h-47.2z" fill="#F1ED7B" />
                                                        <path
                                                            d="M308 1000h-47.2c-4.8 0-8-3.2-8-8v-93.6c0-4.8 3.2-8 8-8h47.2c4.8 0 8 3.2 8 8V992c0 4.8-4 8-8 8z m-39.2-16h31.2v-77.6h-31.2v77.6z"
                                                            fill="#6A576D" />
                                                        <path
                                                            d="M692 453.6H449.6c-34.4 0-62.4-28-62.4-62.4V281.6c0-34.4 28-62.4 62.4-62.4h242.4c34.4 0 62.4 28 62.4 62.4v109.6c0 34.4-28 62.4-62.4 62.4z"
                                                            fill="#FFFFFF" />
                                                        <path
                                                            d="M692 461.6H449.6c-38.4 0-70.4-31.2-70.4-70.4V281.6c0-38.4 31.2-70.4 70.4-70.4h242.4c38.4 0 70.4 31.2 70.4 70.4v109.6c0 38.4-32 70.4-70.4 70.4zM449.6 227.2c-29.6 0-54.4 24-54.4 54.4v109.6c0 29.6 24 54.4 54.4 54.4h242.4c29.6 0 54.4-24 54.4-54.4V281.6c0-29.6-24-54.4-54.4-54.4H449.6zM884 852.8H264c-4.8 0-8-3.2-8-8s3.2-8 8-8h620c4.8 0 8 3.2 8 8s-4 8-8 8z"
                                                            fill="#6A576D" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                                <div class="ms-2">{{context.librarian.email}}
                                                    {% if context.librarian.is_verified %}
                                                    <span class="badge badge-success">Verified</span>
                                                    {% else %}
                                                    <span class="badge badge-danger">Not Verified</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::Card-->
                            </div>
                        </div>
                    </div>
                    <!--end:::Tab pane-->
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade" id="kt_ecommerce_customer_general" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Profile</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                                <!--begin::Form-->
                                <form class="form" id="kt_ecommerce_customer_profile" method="post">
                                    <div class="flash-messages">
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        <ul class="flash">
                                            {% for message in messages %}
                                            <li class="{{ message.category }}">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2 ">First Name</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" class="form-control form-control-solid text-capitalize"
                                            placeholder="{{context.librarian.firstname}}" name="firstname" />
                                        <!--end::Input-->
                                    </div>
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2 ">Last Name</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="text" class="form-control form-control-solid text-capitalize"
                                            placeholder="{{context.librarian.lastname}}" name="lastname"  />
                                        <!--end::Input-->
                                    </div>
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2 ">Last Name</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="email" class="form-control form-control-solid text-lowercase"
                                            placeholder="{{context.librarian.email}}" name="email"  />
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Row-->
                                    <div class="d-flex justify-content-between">
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_ecommerce_customer_profile_submit"
                                            class="btn btn-light-primary">
                                            <span class="indicator-label">Save</span>
                                        </button>
                                        <a href="/librarian/{{context.librarian.id}}/?delete=true" class="btn btn-danger er fs-6 ">Delete Librarian</a>
                                        </a>
                                        <!--end::Button-->
                                    </div>
                                </form>
                                <!--end::Form-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end:::Tab pane-->
                </div>
                <!--end:::Tab content-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
</div>
<!--end::Content wrapper-->
</div>
<!--end:::Main-->
</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::App-->
{% endblock %}

{% block scripts %}
<script>var hostUrl = "assets";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{{ url_for('static', filename='plugins/global/plugins.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='js/scripts.bundle.js')}}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{{ url_for('static', filename='plugins/custom/datatables/datatables.bundle.js')}}"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="{{ url_for('static', filename='js/widgets.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom/utilities/modals/upgrade-plan.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom/utilities/modals/create-campaign.js')}}"></script>
<script src="{{ url_for('static', filename='js/custom/utilities/modals/users-search.js')}}"></script>
<!--end::Custom Javascript-->
<!--end::Javascript-->

{% endblock %}