{% extends "base.html" %}
{% block content %}
<!--begin::Body-->
<div class="d-flex flex-column flex-lg-row-fluid py-10">
	<!--begin::Content-->
	<div class="d-flex flex-center flex-column flex-column-fluid">
		<!--begin::Wrapper-->
		<div class="w-lg-650px w-xl-700px p-10 p-lg-15 mx-auto">
			<!--begin::Form-->
			<form class="my-auto pb-5"  method="get" id="kt_create_account_form">
				<!--begin::Step 1-->
				<div class="current" data-kt-stepper-element="content">
					<!--begin::Wrapper-->
					<div class="w-100">
						<!--begin::Heading-->
						<div class="pb-10 pb-lg-15">
							<!--begin::Title-->
							<h2 class="fw-bold d-flex align-items-center text-dark">Select one
								<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
									title="Will you e using the QR code on the book or entering the information manually"></i>
							</h2>
							<!--end::Title-->
						</div>
						<!--end::Heading-->
						<!--begin::Input group-->
						<div class="fv-row">
							<!--begin::Row-->
							<div class="row">
								<!--begin::Col-->
								<div class="col-lg-6">
									<!--begin::Option-->
									<input type="radio" class="btn-check" name="submit_method" value="use_qr_code"
										checked="checked" id="use_qr_code" />
									<label
										class="btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center mb-10"
										for="use_qr_code">
										<!--begin::Svg Icon | path: icons/duotune/communication/com005.svg-->
										<span class="svg-icon svg-icon-3x me-5">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M5 11.3V11C5 9.9 5.9 9 7 9H17C18.1 9 19 9.9 19 11V11.3C18.7 11.1 18.4 11 18 11H6C5.6 11 5.3 11.1 5 11.3ZM4 13H3C2.4 13 2 13.4 2 14V18C2 18.6 2.4 19 3 19H4V13ZM22 18V14C22 13.4 21.6 13 21 13H20V19H21C21.6 19 22 18.6 22 18Z"
													fill="currentColor" />
												<path opacity="0.3"
													d="M18 21H6C4.9 21 4 20.1 4 19V13C4 11.9 4.9 11 6 11H18C19.1 11 20 11.9 20 13V19C20 20.1 19.1 21 18 21ZM14 3C14 2.4 13.6 2 13 2H11C10.4 2 10 2.4 10 3V9H14V3ZM6 12C5.4 12 5 12.4 5 13C5 13.6 5.4 14 6 14C6.6 14 7 13.6 7 13C7 12.4 6.6 12 6 12ZM18 12C17.4 12 17 12.4 17 13C17 13.6 17.4 14 18 14C18.6 14 19 13.6 19 13C19 12.4 18.6 12 18 12ZM6 18C5.4 18 5 18.4 5 19C5 19.6 5.4 20 6 20C6.6 20 7 19.6 7 19C7 18.4 6.6 18 6 18ZM18 18C17.4 18 17 18.4 17 19C17 19.6 17.4 20 18 20C18.6 20 19 19.6 19 19C19 18.4 18.6 18 18 18Z"
													fill="currentColor" />
											</svg>

										</span>
										<!--end::Svg Icon-->
										<!--begin::Info-->
										<span class="d-block fw-semibold text-start">
											<span class="text-dark fw-bold d-block fs-4 mb-2">QR code</span>
										</span>
										<!--end::Info-->
									</label>
									<!--end::Option-->
								</div>
								<!--end::Col-->
								<!--begin::Col-->
								<div class="col-lg-6">
									<!--begin::Option-->
									<input type="radio" class="btn-check" name="submit_method" value="input_manually"
										id="input_manually" />
									<label
										class="btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center"
										for="input_manually">
										<!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
										<span class="svg-icon svg-icon-3x me-5">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M17 11H7C6.4 11 6 10.6 6 10V9C6 8.4 6.4 8 7 8H17C17.6 8 18 8.4 18 9V10C18 10.6 17.6 11 17 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z"
													fill="blue" />
												<path opacity="0.3"
													d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM18 20V19C18 18.4 17.6 18 17 18H7C6.4 18 6 18.4 6 19V20C6 20.6 6.4 21 7 21H17C17.6 21 18 20.6 18 20Z"
													fill="blue" />
											</svg>

										</span>
										<!--end::Svg Icon-->
										<!--begin::Info-->
										<span class="d-block fw-semibold text-start">
											<span class="text-dark fw-bold d-block fs-4 mb-2">Enter book
												information manually</span>
										</span>
										<!--end::Info-->
									</label>
									<!--end::Option-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Row-->
						</div>
						<!--end::Input group-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Step 1-->
				<!--begin::Actions-->
				<div class="d-flex flex-stack pt-15">
					<div>
						<button type="submit" class="btn btn-lg btn-primary">Continue
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
							<span class="svg-icon svg-icon-4 ms-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1"
										transform="rotate(-180 18 13)" fill="currentColor" />
									<path
										d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
										fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg Icon--></button>
					</div>
				</div>
				<!--end::Actions-->
			</form>
			<!--end::Form-->
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Content-->
</div>
<!--end::Body-->
</div>
<!--end::Authentication - Multi-steps-->
</div>
{% endblock %}

{% block scripts %}
<!--end::Root-->
<!--begin::Javascript-->
<script>var hostUrl = "assets/";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{{ url_for('static', filename='plugins/global/plugins.bundle.js')}}"></script>
<script src="{{ url_for('static', filename='js/scripts.bundle.js')}}"></script>
<!--end::Global Javascript Bundle-->
<!--end::Javascript-->
{% endblock %}